<div>
  <h1>Edit Article</h1>
   <!-- Notification message -->
   <div *ngIf="isSubmitted" class="alert alert-success" role="alert">
    Article updated successfully!
  </div>
  <form *ngIf="articleForm" [formGroup]="articleForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="title" class="form-label">Article Title</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Article Body</label>
        <textarea class="form-control" id="body" rows="3" formControlName="body"></textarea>
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Article Author</label>
        <input type="text" class="form-control" id="author" formControlName="author">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Update Article</button>
      </div>
  </form>
</div>
